body {
  font-family: Arial;
  background:#0f172a;
  color:white;
  text-align:center;
  padding:20px;
}

button{
  background:#22c55e;
  border:none;
  padding:10px;
  margin:10px;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

.card{
  background:#1e293b;
  margin:15px auto;
  padding:15px;
  max-width:600px;
  border-radius:10px;
}
